* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.text-align-center {
    text-align: center;
}
.item-align-center {
    display: flex;
    justify-content: center !important;
}

/* 隐藏 Chrome、Safari 和 Opera 的滚动条 */
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}
/* 隐藏 IE、Edge 和 Firefox 的滚动条 */
.hide-scroll-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.w-full {
    width: 100% !important;
}

.pt-10 {
    padding-top: 2rem !important;
}
.mt-10 {
    margin-top: 2rem !important;
}
